replicaCount: 1

image:
  repository: obsidiandynamics/kafdrop
  tag: 3.24.0
  pullPolicy: Always

kafka:
  brokerConnect: localhost:9092
  properties: {}

jvm:
  opts: ""

jmx:
  port: 8686

server:
  port: 9000
  servlet:
    contextPath: /

service:
  annotations: {}
  type: ClusterIP
  port: 9000

ingress:
  enabled: false
  annotations: {}
  path: /
  hosts: []
  tls: []

resources:
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  requests:
    cpu: 1m
    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

podAnnotations: {}
